$primaryLight: rgb(212, 212, 212);
$primaryMedium: gray;
$primaryDark: rgb(68, 68, 68);

$complementaryLight: rgb(88, 127, 184);
$complementaryMedium: rgb(30, 65, 116);
$complementaryDark: rgb(16, 41, 80);

$accentLight: rgb(255, 223, 134);
$accentMedium: rgb(255, 187, 0);
$accentMedium: rgb(156, 115, 0);