@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
// @import '../fonts/Noto_Sans/NotoSans-Bold.ttf';
// @import '../fonts/Noto_Sans/NotoSans-BoldItalic.ttf';
// @import '../fonts/Noto_Sans/NotoSans-Italic.ttf';
// @import '../fonts/Noto_Sans/NotoSans-Regular.ttf';
@import "./variables";

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Noto Sans", sans-serif;
  overflow-x: hidden;
  position: relative;
}

h1,
h3,
h4 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
}

.input-bttn {
  font-family: "Noto Sans", sans-serif;
  font-size: 0.8rem;
  color: black;
  background-color: transparent;
  border: 2px solid black;
  padding: 12px 40px;
  margin: 0px 12px;
  border-radius: 4px;
  transition: 500ms;
  position: relative;
  z-index: 1;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: $customBlue;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 300ms ease-in-out;
  }

  &:hover::before {
    transform: scaleX(1);
  }

  &:hover {
    color: white;
    border: 2px solid $customBlue;
  }
}
.no-left-margin{
  margin-left: 0;
}

@media only screen and (max-width: 575px) {
  .input-bttn{
    padding: 5px 20px;
  }

  .no-left-margin{
    margin-left: 12px;
  }
}

#main-nav {
  backdrop-filter: blur(5px);
  background-color: #128df1d2;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;

  #client-branding {
    width: auto;
    height: 50px;
  }

  .nav-link {
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
    margin: 0px 5px;
  }

  #contact-link {
    color: $customBlue;
    background-color: white;
    border-radius: 3px;
    transition: 300ms;

    &:hover {
      background-color: rgba(255, 255, 255, 0.623);
    }
  }

}

#header-section {
  min-height: 80vh;
  background-image: url(../images/BG-header.jpg);
  background-size: cover;

  #header {
    height: 75vh;

    #header-content-container {
      background-color: #f0f0f254;
      padding: 5%;
      max-width: 900px;
      min-height: 50%;
      max-height: 700px;
      border-radius: 5px;
      backdrop-filter: blur(12px);

      @media only screen and (max-width: 575px){
        max-width: 90%;
      }
    }
  }
}

#services-section {
  min-height: 50vh;
  padding: 10vh 0;
  background-color: #070d19;
  h3,
  h4,
  p {
    color: #f0f0f2;
  }

  .service-description {
    font-size: 1rem;
  }
}

#about-section {
  min-height: 50vh;
  padding: 10vh 0;
  background-color: #f0f0f2;

  #about-form-div {
    border-left: 3px solid white;
    
    @media only screen and (max-width: 575px) {
      border-left: none;
    }


    form {
      display: flex;
      flex-direction: column;
      input,
      textarea {
        width: 100%;
        border: 1px solid $customBlue;
        border-left: 10px solid $customBlue;
        margin-bottom: 10px;
        padding: 5px 5px 5px 15px;
        resize: none;
        transition: 300ms;

        &:focus {
          padding: 10px 5px 10px 15px;
        }
      }

      ::placeholder {
        font-family: "Noto Sans", sans-serif;
        font-size: 0.8rem;
        color: $customBlue;
      }
    }
  }
}

#call-to-action-section {
  min-height: 50vh;
  padding: 10vh 0;
  
  @media only screen and (max-width: 575px) {
    img{
      max-width: 150px;
    }
  }
  
}

footer {
  min-height: 20vh;
  padding-top: 5vh;
  background-color: #070d19;

  li,
  address,
  p {
    color: #f0f0f2;
  }
}
