@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@import "./variables";

body {
  font-family: "Noto Sans", sans-serif;
}

h1,
h3,
h4 {
  font-weight: 700;
}

.input-bttn {
  font-family: "Noto Sans", sans-serif;
  font-size: 0.8rem;
  color: black;
  background-color: transparent;
  border: 2px solid black;
  padding: 12px 40px;
  border-radius: 4px;
  transition: 500ms;
  position: relative;
  z-index: 1;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: $customBlue;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 300ms ease-in-out;
  }
  
  &:hover::before {
    transform: scaleX(1);
  }

  &:hover{
    color: white;
    border: 2px solid $customBlue;
  }

}

#header-section {
  min-height: 75vh;
  background-image: url(../images/BG-header.jpg);
  background-size: cover;

  #client-branding{
    width: auto;
    height: 50px;
  }

  #header {
    height: 75vh;

    #header-content-container {
      background-color: #f0f0f254;
      padding: 5%;
      max-width: 900px;
      min-height: 50%;
      max-height: 700px;
      border-radius: 5px;
      backdrop-filter: blur(12px);
    }
  }
}

#services-section {
  min-height: 50vh;
  padding-top: 10vh;
  background-color: #070d19;
  h3,
  h4,
  p {
    color: #f0f0f2;
  }

  .service-description {
    font-size: 1rem;
  }
}

#about-section {
  min-height: 50vh;
  padding-top: 10vh;
  background-color: #f0f0f2;

  #about-form-div {
    border-left: 3px solid white;

    form {
      input,
      textarea {
        width: 100%;
        border: 1px solid $customBlue;
        border-left: 8px solid $customBlue;
        margin-bottom: 10px;
        padding: 5px 5px 5px 15px;
        resize: none;
        transition: 300ms;

        &:focus {
          padding: 10px 5px 10px 15px;
        }
      }

      ::placeholder {
        font-family: "Noto Sans", sans-serif;
        font-size: 0.8rem;
        color: $customBlue;
      }
    }
  }
}

#call-to-action-section {
  min-height: 50vh;
  padding: 10vh 0vh;


}

footer {
  min-height: 20vh;
  padding-top: 5vh;
  background-color: #070d19;

  li,
  address,
  p {
    color: #f0f0f2;
  }
}
