@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Noto Sans", sans-serif;
  overflow-x: hidden;
  position: relative;
}

h1,
h3,
h4,
h5 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
}

.input-bttn {
  font-family: "Noto Sans", sans-serif;
  font-size: 0.8rem;
  color: black;
  background-color: transparent;
  border: 2px solid black;
  padding: 12px 40px;
  margin: 0px 12px;
  border-radius: 4px;
  -webkit-transition: 500ms;
  transition: 500ms;
  position: relative;
  z-index: 1;
}

.input-bttn::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #128BF1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.input-bttn:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.input-bttn:hover {
  color: white;
  border: 2px solid #128BF1;
}

.no-left-margin {
  margin-left: 0;
}

@media only screen and (max-width: 575px) {
  .input-bttn {
    padding: 5px 20px;
  }
  .no-left-margin {
    margin-left: 12px;
  }
}

#main-nav {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: #128df1d2;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

#main-nav .client-branding {
  width: auto;
  height: 50px;
}

#main-nav .nav-link {
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.15rem;
  margin: 0px 5px;
}

#main-nav #contact-link {
  color: #128BF1;
  background-color: white;
  border-radius: 3px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

#main-nav #contact-link:hover {
  background-color: rgba(255, 255, 255, 0.623);
}

#header-section {
  min-height: 85vh;
  background-image: url(../images/BG-header.jpg);
  background-size: cover;
}

#header-section #header {
  height: 85vh;
}

#header-section #header #header-content-container {
  background-color: #f0f0f254;
  padding: 5%;
  max-width: 900px;
  min-height: 50%;
  max-height: 700px;
  border-radius: 5px;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
}

#header-section #header #header-content-container #main-heading {
  font-size: 3.5rem;
}

@media only screen and (max-width: 575px) {
  #header-section #header #header-content-container {
    max-width: 90%;
  }
  #header-section #header #header-content-container #main-heading {
    font-size: 2.5rem;
  }
}

#services-section {
  min-height: 50vh;
  padding: 10vh 0;
  scroll-margin-top: 8.8vh;
  background-color: #070d19;
}

#services-section h3,
#services-section h4,
#services-section h5,
#services-section p {
  color: #f0f0f2;
}

#services-section .service-icon {
  max-width: 90px;
}

@media only screen and (max-width: 992px) {
  #services-section .service-icon {
    max-width: 75px;
  }
}

#services-section .service-description {
  font-size: 1rem;
}

#about-section {
  min-height: 50vh;
  padding: 10vh 0;
  background-color: #f0f0f2;
  scroll-margin-top: 8.8vh;
}

#about-section .pull-quote {
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
  color: #128BF1;
  font-weight: 100;
  line-height: 3rem;
}

#about-section #about-form-div {
  border-left: 3px solid white;
}

@media only screen and (max-width: 575px) {
  #about-section #about-form-div {
    border-left: none;
  }
}

#about-section #about-form-div form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#about-section #about-form-div form input,
#about-section #about-form-div form textarea {
  width: 100%;
  border: 1px solid #128BF1;
  border-left: 10px solid #128BF1;
  margin-bottom: 10px;
  padding: 5px 5px 5px 15px;
  resize: none;
  -webkit-transition: 300ms;
  transition: 300ms;
}

#about-section #about-form-div form input:focus,
#about-section #about-form-div form textarea:focus {
  padding: 10px 5px 10px 15px;
}

#about-section #about-form-div form ::-webkit-input-placeholder {
  font-family: "Noto Sans", sans-serif;
  font-size: 0.8rem;
  color: #128BF1;
}

#about-section #about-form-div form :-ms-input-placeholder {
  font-family: "Noto Sans", sans-serif;
  font-size: 0.8rem;
  color: #128BF1;
}

#about-section #about-form-div form ::-ms-input-placeholder {
  font-family: "Noto Sans", sans-serif;
  font-size: 0.8rem;
  color: #128BF1;
}

#about-section #about-form-div form ::placeholder {
  font-family: "Noto Sans", sans-serif;
  font-size: 0.8rem;
  color: #128BF1;
}

#call-to-action-section {
  min-height: 50vh;
  padding: 10vh 0;
  scroll-margin-top: 8.8vh;
}

#call-to-action-section #logo-bg-div img {
  max-width: 100%;
}

@media only screen and (max-width: 575px) {
  #call-to-action-section #logo-bg-div img {
    max-width: 150px;
  }
}

footer {
  min-height: 20vh;
  padding: 5vh 0;
  background-color: #070d19;
}

footer .client-branding {
  width: auto;
  height: 50px;
}

footer a,
footer address,
footer p {
  color: #f0f0f2;
  font-size: 0.9rem;
}

footer #footer-nav {
  list-style: none;
}

footer #footer-nav a {
  text-transform: capitalize;
  text-decoration: none;
  -webkit-transition: 300ms;
  transition: 300ms;
}

footer #footer-nav a:hover {
  color: #128BF1;
}

footer #mt-logo {
  width: auto;
  height: 60px;
}
/*# sourceMappingURL=App.css.map */